.indexPage {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 84px - 90px - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;

  padding-bottom: 90px;

  // justify-content: center;

  .questionMark {
    // top: 0px;
    // right: -33px;
    display: inline-block !important;

    position: relative;
    top: -7.5px;
    right: 7px;
  }

  .errorText {
    color: $red;
  }

  .colorRed {
    color: $red;
  }

  .bigText {
    font-size: 18px;
  }

  .secondaryText {
    font-size: 15px;
  }

  .color-gray {
    color: $gray;
  }

  .expectedPrice {
    color: $gray;
    font-size: 15px;
  }

  .expectedInfo {
    position: relative;
    bottom: -6px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .no-padding {
    padding: 0;
  }

  .witdth-100 {
    width: 100% !important;
  }

  .transactionDetails {
    // align-items: center;
    // border-bottom: 1px solid;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    // height: 60px;
    // justify-content: space-between;
    padding: 0 20px;
    text-decoration: none;
    transition: background-color $transition1, color $transition1;
    width: 100%;
  }

  // &.hasRequests {
  //   // display: block;
  //   // padding-bottom: 5vh;

  //   // .tileBlock {
  //   //   margin-top: calc(40vh - 150px);
  //   // }
  // }

  .formContainer {
    position: relative;
    width: 100%;

    .loaderBlock {
      z-index: 9;
      width: 102%;
      height: 102%;
      position: absolute;
      left: -1%;
      top: -1%;
      overflow: hidden;
    }
    .inputLabel {
      padding-bottom: 5px;
    }
  }

  .transactionDetails {
    max-height: 100% !important;
    box-shadow: none !important;
    padding-bottom: 15px !important;
  }

  .balancesList, .transactionDetails {
    box-shadow: $shadowInset;
    border-radius: $borderInsetRadius;
    background-color: #ffffff10;
    width: 100%;
    max-height: 30vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }

    .height-60 {
      height: 60px;
    }

    .balanceItem {
      align-items: center;
      border-bottom: 1px solid;
      display: flex;
      height: 60px;
      justify-content: space-between;
      padding: 0 20px;
      text-decoration: none;
      transition: background-color $transition1, color $transition1;
      width: 100%;

      &.disabled {
        opacity: 0.5;
      }

      &:hover.enabled,:hover.checked {
        background-color: transparentize($color: $gray, $amount: 0.9) !important;
      }
      &.checked {
        background-color: transparentize($color: $gray, $amount: 0.95);

        .checkboxContainer {
          border-color: $lightViolet;

          i {
            opacity: 1;
          }
        }
      }

      .checkboxContainer {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        border: 2px solid;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color $transition1;
        will-change: border-color;

        i {
          opacity: 0;
          transition: opacity $transition1;
          will-change: opacity;
          font-size: 18px;
          color: $lightViolet;
        }
      }
      .tokenSymbol {
        font-size: 20px;
      }

      .leftSide {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .rightSide {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .rowItem {
          display: flex;
          align-items: center;
        }

        .total {
          font-size: 18px;
          line-height: 25px;
          padding-right: 10px;
          &.small {
            font-size: 13px;
            color: $gray;

            .balancePrice {
              font-size: 12px;
            }
          }

          .balancePrice {
            font-size: 16px;
            color: $gray;
          }
        }
      }
    }
  }
  .socialIcons {
    margin: 0 auto;
  }
  .dropdownsContainer {
    width: 90%;
    max-width: 505px;
    margin: 0 auto;
    margin-top: 50px;

    .dropdownContainer {
      height: 69px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .dropdownHeader {
        height: 69px;
        padding: 10px 20px;

        .textContainer {
          font-size: 22px;
        }
      }
      .dropdownBody {
        padding: 10px 20px 15px 20px;
      }
    }
    .balanceItem {
      cursor: default;
    }
  }
}

.removeItem {
  margin-left: auto;
  // display: flex;
  padding-right: 10px;
  flex-direction: row-reverse;

  cursor: pointer;

  &:hover {
    color: $lightViolet;
  }
}


.copy, .trash {
  color: $gray;
  font-size: 16px;
  transition: background-color $transition1, color $transition1;
  border-radius: 4px;
  padding: 7px 0px;
  box-sizing: border-box;
  transform: translateX(0px);
  cursor: pointer;

  &:active {
    transition: 0.001s;
  }
}

.trash {
  position: relative;
  top: -4px;
}

.tinyText {
  font-size: 12px;
  margin-top: 5px;
  color: $gray;
}

body.inkline {
  &.-light {
    .copy {
      &:hover {
        background-color: transparentize($color: $gray, $amount: 0.85);
      }

      &:active {
        background-color: transparentize($color: $gray, $amount: 0.7);
        color: $green;
      }
    }

    .trash {
      &:hover {
        background-color: transparentize($color: $gray, $amount: 0.85);
      }

      &:active {
        background-color: transparentize($color: $gray, $amount: 0.7);
        color: $red;
      }
    }

    .balancesList, .transactionDetails, .howThisWorksModal {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-light;
      }

      .balanceItem,.checkboxContainer {
        border-color: $input-border-color-light;
      }
      .balanceItem {
        color: $black;
      }
    }
  }

  &.-dark {
    .copy {
      &:hover {
        background-color: transparentize($color: $white, $amount: 0.9);
      }

      &:active {
        background-color: transparentize($color: $white, $amount: 0.8);
        color: $green;
      }
    }

    .trash {
      &:hover {
        background-color: transparentize($color: $white, $amount: 0.9);
      }
            
      &:active {
        background-color: transparentize($color: $gray, $amount: 0.7);
        color: $red;
      }
    }

    .balancesList, .transactionDetails, .howThisWorksModal {
      &::-webkit-scrollbar-thumb {
        background-color: $input-border-color-focus-dark;
      }

      .balanceItem,.checkboxContainer {
        border-color: $input-border-color-dark;
      }
      .balanceItem {
        color: $white;
      }
    }
  }
}
