@import "../variables";

body {
  .indexHeader {
    // backdrop-filter: blur(83.3333px);
    // background: rgba(24, 24, 32, 0.01);
    height: 84px;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 5;
    // background: -moz-linear-gradient(top, rgba(24, 24, 32, 0.9), rgba(24, 24, 32, 0.7));
    box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.01);

    .linksContainer {
      .linkItem {
        line-height: 2rem;
        font-weight: normal;
        // transition: color $transition1;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $lightViolet !important;
        }
      }
    }

    .container, .row {
      height: 100%;
    }

    .container {
      padding: 0 16px;
    }

    .column {
      display: flex;
      align-items: center;
    }


    .headerWrapper {
      .projectLogo {
        min-width: 90px;
        max-width: none;
        height: 30px;
        width: auto;
      }
    }

    .dropdown.-dark {
      padding: 0;

      @media screen and (min-width: $mobile+1) and (max-width: 991px) {
        font-size: 14px;
        padding: 0 5px;
      }

      & > .menu[data-popper-placement="bottom"] {
        padding: 0;
        border-radius: $borderRadius;
        min-width: 150px;
        border-color: $darkViolet;
        background: $darkViolet;

        .arrow {
          border-bottom-color: $darkViolet;

          &::after {
            border-bottom-color: $darkViolet;
            border-bottom-width: 5px !important;
          }
        }

        .item {
          color: $white;
          font-size: 16px;
          font-family: $openSans;
          font-style: normal;
          font-weight: normal;
          line-height: 2rem;

          &:hover {
            // transition: color, background-color $transition1 !important;
            background-color: lighten($darkViolet, 10) !important;
            color: $lightViolet;
            will-change: color, backgroud;
          }

          &:first-of-type {
            overflow: hidden;
            border-radius: $borderRadius $borderRadius 0 0 !important;
          }

          &:last-of-type {
            overflow: hidden;
            border-radius: 0 0 $borderRadius $borderRadius !important;
          }
        }


      }

      @media screen and (max-width: $mobile) {
        .dropdown {
          .dropDownHandler {
            display: inline-flex;
            flex-wrap: nowrap;
          }

          & > .menu {
            margin: 120px;
            width: 100vw;
            position: fixed;
            left: -35px;
            z-index: 1004;

          }
        }
      }
    }

    .dropDownHandler {
      cursor: pointer;
      padding: 10px;
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;

      &:before {
        content: '';
        top: 0;
        left: 0;

      }

      i.fal {
        padding-left: 5px;
        font-size: 15px;
      }

      // transition: color $transition1;

      &:hover {
        color: $lightViolet;
      }
    }

    .mainIndexHeader {
      height: 100%;
      width: 100%;

      .logoLink {
        position: relative;
        display: flex;

        .badge {
          padding: 0;
          color: $lightViolet !important;
          font-weight: 400;
          font-size: 12px !important;
          letter-spacing: 1px;
          text-transform: uppercase;
          background: transparent !important;
        }
      }
    }

    @media screen and (max-width: $mobile) {
      .mainIndexHeader {
        
      }
    }
  }
}

.mainIndexHeader, .mainFooter {
  .linksContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    a.linkItem {
      padding: 0 10px;
      white-space: nowrap;
      color: $white !important;
      @media screen and (min-width: $mobile+1) and (max-width: 991px) {
        font-size: 14px;
        padding: 0 5px;
      }
    }
  }
}
